# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Built stuff
#Debug/
Release/
Production/
MockDebug/
MockRelease/
MockProfiling/
Profiling/
#x64/
Win32/
dmps/
# Visual Studio intestines
*.sdf
*.suo
*.opensdf
*.bak
*.o
*.gch
*.a
*.dll
*.def
*.depend
*.tlog
*.obj
*.user
*.exp
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.orig
*.ipch
